<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="College Bus Tracking System for Students and Staff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  type="image/x-icon" href="{{ url_for('static', filename = 'images/favicon.png') }}">
    {% block head %}{% endblock %}
    <title>{% block title %} {{ title | default("College Bus Tracking System") }} {% endblock %}</title>
</head>
<body>
  <header>
    {% block header %}
    {% endblock %}
  </header>
  <section class="Body-content">
    {% block body_section %}
    {% endblock %}
  </section>
  {% block footer %}
    <footer>
        <p>&copy; 2025 College Bus Tracking System. All rights reserved.</p>
    </footer>
  {% endblock %}
</body>
</html>